body {
  font-size: 16px;
  color:#fff;
  background-color: wheat;
  font-family: 'Oxygen', sans-serif;
}
#header-nav {
  background-color: black;
  border-radius: 0;
  border: 0;
}
.navbar-brand {
  padding-top: 25px;
}
.navbar-brand h1 {
  font-family: 'Lora', serif;
  color: white;
  font-size: 1.5em;
  font-weight: bold;
  text-shadow: 1px 1px 1px white;
  margin-top: 0;
  margin-bottom: 0;
  line-height: .75;
}
.navbar-brand a:hover, .navbar-brand a:focus {
  text-decoration: none;
}
#nav-list {
  margin-top: 10px;
}
#nav-list a {
  color: white;
  background-color: black;
  text-align: center;
}
#nav-list a:hover {
  background: white;
  color:black;
}
.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
  border: 1px solid white;
}
.navbar-header button.navbar-toggle {
  clear: both;
  margin-top: -30px;
}
#main-content {
  width: 100%;
  margin:0px;
}
h1{
  color:black;
  margin-bottom: 40px;
}
h3 {
  padding: 5px;
  width:100%;
  text-align: center;
  color:white;
  margin-top: 10px;
}
.col-md-12, .col-sm-12, .col-xs-12 {
  border: 1px solid brown;
  background-color: black;
  margin: 0px;
}
.container {
  margin:0;
  width:100%;
}
@media (min-width: 1200px) {
  .navbar-brand h1{
    margin-top: -10px;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .navbar-brand h1{
    margin-top: -10px;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .navbar-brand h1{
    margin-top: -10px;
  }
}
@media (max-width: 767px) {
  #collapsable-nav a {
    font-size: 1.2em;
  }
  /*.col-xs-12 {
    width:85%;
    margin-left:40px;
    margin-right:20px;
  }*/
}